@keyframes hover {
    0% {
        box-shadow: 0px 0px 7px 3px rgba(223, 70, 231, 0.2);
    }

    25% {
        box-shadow: 0px 0px 7px 3px rgba(223, 70, 231, 1);
    }

    50% {
        box-shadow: 0px 0px 7px 3px rgba(223, 70, 231, 0.2);
    }

    75% {
        box-shadow: 0px 0px 7px 3px rgba(223, 70, 231, 1);
    }

    100% {
        box-shadow: 0px 0px 7px 3px rgba(223, 70, 231, 0.2);
    }
}

.element__container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.visible {
    visibility: hidden;
}

.hoverHandler {
    animation: hover 2.5s ease infinite;
}