.basket {
    max-width: 600px;
    width: 100%;
    padding-top: 100px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.OrderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
}

.order__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    max-height: 464px;
}

.buns {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 16px;
    padding-left: 42px;
}

.buns_type_bottom {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 42px;
}