@keyframes hover {
    0% {
        box-shadow: 0px 0px 6px 3px rgba(223, 70, 231, 0.2);
    }

    25% {
        box-shadow: 0px 0px 6px 3px rgba(223, 70, 231, 1);
    }

    50% {
        box-shadow: 0px 0px 6px 3px rgba(223, 70, 231, 0.2);
    }

    75% {
        box-shadow: 0px 0px 6px 3px rgba(223, 70, 231, 1);
    }

    100% {
        box-shadow: 0px 0px 6px 3px rgba(223, 70, 231, 0.2);
    }
}


.basket {
    max-width: 600px;
    width: 100%;
    padding-top: 100px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.OrderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    padding-right: 24px;
}

.order__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    max-height: 454px;
    box-sizing: border-box;
    padding: 16px 0;
}

.buns {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-left: 42px;
}

.buns_type_bottom {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-left: 42px;
}

.hoverHandler {
    animation: hover 2.5s ease infinite;
}