.menu__nav {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 56px;
    padding: 0;
    margin-bottom: 0px;
}

.menu__option {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: inset 0px -1px 0px #2F2F37;
    cursor: pointer;
}