.container {
    max-width: 600px;
    width: 100%;
}

.orderFeed {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 770px;
    overflow-y: auto;
}

.article {
    padding-right: 8px;
}